---
import OrderStatusForm from "@components/order/OrderStatusForm.svelte";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Cek Status Pesanan">
  <main class="section">
    <div class="container text-center">
      <h1>Cek Status Pesanan</h1>
      <OrderStatusForm />
    </div>
  </main>
</Layout>
